extend layout

block content
    .container
        h2 Teams
            .row
                .col
                ul.west West
                    each team in teams
                        if team.division === 'West'
                            li
                                - var teamUrl = '/teams/' + team.id
                                a(href=teamUrl)= team.name
                .col
                ul.east East
                    each team in teams
                        if team.division === 'East'
                            li
                                - var teamUrl = '/teams/' + team.id
                                a(href=teamUrl)= team.name